<div class="container-fluid">
  <h1>Buy | Pay</h1>
<hr>
<div class="row">
  <div class="col-lg-4">
    <h5>Prepaid</h5>
    <%=render'buy/templates/prepaid/airtime'%>
    <%=render'buy/templates/prepaid/data'%>
    <%=render'buy/templates/prepaid/electricity'%>
    <%=render'buy/templates/prepaid/tickets'%>

  </div>

  <div class="col-lg-4">
    <h5>Fin-tech</h5>
    <%=render'buy/templates/fintech/online_payment'%>
    <%=render'buy/templates/fintech/traffic_fines'%>
    <%=render'buy/templates/fintech/license_renewal'%>
    <%=render'buy/templates/fintech/handsets_gadgets'%>


  </div>
  <div class="col-lg-4">
    <h3>Transaction History </h3>
    <hr>
<p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No transaction has been made yet!</p>

  </div>
</div>
</div>
