<%=render'shared/carousel'%>

<!-- Marketing messaging and featurettes
     ================================================== -->
     <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
       <!-- Three columns of text below the carousel -->
       <div class="row">

         <div class="col-lg-4">
           <div class="card profile-card-2">
                <div class="card-img-block">
                  <%=image_tag('bg-1.png', class:'img-fluid')%>
                </div>
                <div class="card-body pt-5">
                     <%=image_tag('prepaid.png', class:"profile")%>
                    <h4 class="card-title">Prepaid Services</h4>
                    <p class="card-text">Pay your bills, buy electricity, airtime and more.</p>
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
                </div>
            </div>
         </div><!-- /.col-lg-4 -->

         <div class="col-lg-4">
           <div class="card profile-card-2">
                <div class="card-img-block">
                  <%=image_tag('bg-2.png', class:'img-fluid')%>
                </div>
                <div class="card-body pt-5">
                     <%=image_tag('financial.png', class:"profile")%>
                    <h4 class="card-title">Financial Services</h4>
                    <p class="card-text">We provide cheaper personal loans, insurance...</p>
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
                </div>
            </div>
         </div><!-- /.col-lg-4 -->


         <div class="col-lg-4">
           <div class="card profile-card-2">
                <div class="card-img-block">
                  <%=image_tag('bg-3.png', class:'img-fluid')%>
                </div>
                <div class="card-body pt-5">
                     <%=image_tag('handsets.png', class:"profile")%>
                    <h4 class="card-title">Handsets & Gadgets</h4>
                    <p class="card-text">WeIf you’re big on handsets, gadgets and want to be ahead of the curve...</p>
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
                </div>
            </div>
          </div>
       </div><!-- /.row -->


</div>

<%=render'home/templates/featurettes'%>
