<%=render'shared/carousel'%>

<!-- Marketing messaging and featurettes
     ================================================== -->
     <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
       <!-- Three columns of text below the carousel -->
       <div class="row">
         
         <div class="col-lg-4">
           <%=image_tag('prepaid.jpg', class:"rounded-circle", width:"140", height:"140")%>
           <h2>Prepaid Services</h2>
           <p>Pay your bills, buy electricity, airtime and more.</p>
           <div class="mdc-card__action-icons">
             <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
             <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
           </div>
         </div><!-- /.col-lg-4 -->

         <div class="col-lg-4">
           <%=image_tag('financial.jpg', class:"rounded-circle", width:"140", height:"140")%>
            <h2>Financial Services</h2>
           <p>We provide cheaper personal loans, insurance and cheaper banking products and services.</p>
         </div><!-- /.col-lg-4 -->


         <div class="col-lg-4">
           <%=image_tag('handsets.jpg', class:"rounded-circle", width:"140", height:"140")%>
           <h2>Handsets & Gadgets</h2>
           <p>If you’re big on handsets, gadgets and want to be ahead of the curve, we have the  products that are bound to make a mark on the tech world this year.</p>
         </div><!-- /.col-lg-4 -->
       </div><!-- /.row -->


</div>

<%=render'home/templates/featurettes'%>
